HttpRequest does not support all HTTP request methods

`HttpRequest` supports only a subset of HTTP methods. It needs to support all types.

Currently supported:
- GET
- POST

Missing:
- HEAD
- PUT
- DELETE
- TRACE
- OPTIONS
- CONNECT
- PATCH

Additional considerations:
- Telemetry behavior of GET/POST should apply to other methods

Normative Refs:
- [RFC-7231, section 4](https://tools.ietf.org/html/rfc7231#section-4)
- [RFC-5789, section 2](https://tools.ietf.org/html/rfc5789#section-2)

Tracking:
- [PBI-889784](https://identitydivision.visualstudio.com/Engineering/_workitems/edit/889784)

Nullability annots seem to be missing on portions of this class, add those.